@mixin respond($breakpoint) {
  @if ($breakpoint == mobile) {
    @media (max-width: 20.625rem) {
      @content;
    }
  }
  @if ($breakpoint == midMobile) {
    @media (min-width: 20.625rem) {
      @content;
    }
  }
  @if ($breakpoint == tablet) {
    @media (min-width: 31.25rem) {
      @content;
    }
  }
  @if ($breakpoint == laptop) {
    @media (min-width: 46.875rem) {
      @content;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  background: url("../images/bg-stars.svg") top/100% 80% no-repeat,
    url("../images/pattern-hills.svg") bottom/100% 20% no-repeat,
    linear-gradient(to bottom, #1e1e28, #251d2c);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .header {
    text-align: center;
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .header-text {
      color: hsl(0, 0%, 100%);
      letter-spacing: 0.4rem;
      font-weight: 700;

      @include respond(mobile) {
        font-size: 1rem;
      }
    }
  }
}

.countdown-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  max-width: 52rem;
  height: 60%;

  .count-flip {
    border-radius: 0.5rem;
    background-color: hsl(237, 19%, 22%);
    color: hsl(345, 95%, 68%);
    perspective: 43.75rem;
    -webkit-perspective: 43.75rem;
    -moz-perspective: 43.75rem;
    -ms-perspective: 43.75rem;
    -o-perspective: 43.75rem;

    .flip-div {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .count-up {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 3rem;
      font-weight: 700;
      height: 100%;
      width: 100%;
      border-radius: 0.5rem;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;

      @include respond(mobile) {
        font-size: 2rem;
        padding: 0.5rem;
      }
      @include respond(midMobile) {
        font-size: 3rem;
        padding: 0.7rem;
      }
      @include respond(tablet) {
        font-size: 3.5rem;
        padding: 1.2rem;
      }
      @include respond(laptop) {
        font-size: 5.5rem;
        padding: 1.5rem;
      }
    }

    .count-up::before {
      content: " ";
      position: absolute;
      width: calc(100% - 0.7rem);
      border: 0.5px solid rgba(31, 31, 31, 0.337);
      z-index: 1;
      top: calc(50% - 1px);
      left: 0.35rem;

      @include respond(mobile) {
        width: calc(100% - 0.5rem);
        left: 0.25rem;
      }
    }

    .count-down {
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 0px 8px 0px 0px rgba(22, 21, 21, 0.837);
      -webkit-box-shadow: 0px 8px 0px 0px rgba(22, 21, 21, 0.83);
      -moz-box-shadow: 0px 8px 0px 0px rgba(22, 21, 21, 0.844);
      -ms-box-shadow: 0px 8px 0px 0px rgba(22, 21, 21, 0.844);
      -o-box-shadow: 0px 8px 0px 0px rgba(22, 21, 21, 0.844);

      @include respond(mobile) {
        font-size: 2rem;
        padding: 0.5rem;
      }
      @include respond(midMobile) {
        font-size: 3rem;
        padding: 0.7rem;
      }
      @include respond(tablet) {
        font-size: 3.5rem;
        padding: 1.2rem;
      }
      @include respond(laptop) {
        font-size: 5.5rem;
        padding: 1.5rem;
      }
    }

    .count-down::after {
      content: " ";
      width: 0.35rem;
      height: calc(0.7rem - 2px);
      border-radius: 0 0.7rem 0.7rem 0;
      position: absolute;
      background-color: rgba(22, 21, 21, 0.837);
      top: calc(50% - calc(0.35rem - 1px));
      left: 0;
      z-index: -1;

      @include respond(mobile) {
        width: 0.25rem;
        height: calc(0.5rem - 2px);
        border-radius: 0 0.5rem 0.5rem 0;
        top: calc(50% - calc(0.25rem - 1px));
      }
    }

    .count-down::before {
      content: " ";
      width: 0.35rem;
      height: calc(0.7rem - 2px);
      border-radius: 0.7rem 0 0 0.7rem;
      position: absolute;
      background-color: rgba(22, 21, 21, 0.837);
      top: calc(50% - calc(0.35rem - 1px));
      right: 0;
      z-index: -1;

      @include respond(mobile) {
        width: 0.25rem;
        height: calc(0.5rem - 2px);
        border-radius: 0.5rem 0 0 0.5rem;
        top: calc(50% - calc(0.25rem - 1px));
      }
    }
    .count-down-flip {
      transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      -o-transform: rotateX(180deg);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
    }
    .count-down-flip .div-two {
      background-color: hsl(237, 19%, 22%);
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border: none;
      position: relative;
    }
    .count-down-flip .div-two::before {
      content: " ";
      width: calc(0.35rem + 1px);
      height: 0.35rem;
      border-radius: 0 0 0 100%;
      position: absolute;
      background-color: rgba(22, 21, 21, 0.837);
      top: -1px;
      right: 0;
      z-index: 1;

      @include respond(mobile) {
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 0 0 0 100%;
      }
    }

    .count-down-flip .div-two::after {
      content: " ";
      width: calc(0.35rem + 1px);
      height: 0.35rem;
      border-radius: 0 0 100% 0;
      position: absolute;
      background-color: rgba(22, 21, 21, 0.837);
      top: -1px;
      left: 0;
      z-index: 1;

      @include respond(mobile) {
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 0 0 100% 0;
      }
    }

    .count-up-flip .div-one {
      background-color: hsl(237, 19%, 22%);
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      z-index: -4;
      position: relative;
      border: none;
    }

    .count-up-flip .div-one::before {
      content: " ";
      width: 0.35rem;
      height: 0.35rem;
      border-radius: 100% 0 0 0;
      position: absolute;
      background-color: rgba(22, 21, 21, 0.837);
      bottom: -1px;
      right: 0;
      z-index: 1;

      @include respond(mobile) {
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 100% 0 0 0;
        z-index: 6;
        bottom: 0;
      }
    }

    .count-up-flip .div-one::after {
      content: " ";
      width: 0.35rem;
      height: 0.35rem;
      border-radius: 0 100% 0 0;
      position: absolute;
      background-color: rgba(22, 21, 21, 0.837);
      bottom: -1px;
      left: 0;
      z-index: 5;

      @include respond(mobile) {
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 0 100% 0 0;
      }
    }

    .div-one,
    .div-two {
      height: 50%;
      width: 100%;
      overflow: hidden;
      display: flex;
    }
    .div-one {
    }
    .div-one p {
      margin: 1rem auto 0;

      @include respond(mobile) {
        margin: 0.5rem auto 0;
      }
      @include respond(midMobile) {
        margin: 0.7rem auto 0;
      }
      @include respond(tablet) {
        margin: 1.2rem auto 0;
      }
      @include respond(laptop) {
        margin: 1.5rem auto 0;
      }
    }

    .count-down-flip .div-two {
      display: flex;
      align-items: flex-end;
    }
    .div-two p {
      margin: 0 auto 1rem;

      @include respond(mobile) {
        margin: 0 auto 0.5rem;
      }
      @include respond(midMobile) {
        margin: 0 auto 0.7rem;
      }
      @include respond(tablet) {
        margin: 0 auto 1.2rem;
      }
      @include respond(laptop) {
        margin: 0 auto 1.5rem;
      }
    }
  }
  .count-set {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
    color: hsl(237, 18%, 59%);
    letter-spacing: 0.15rem;
    text-align: center;

    @include respond(mobile) {
      margin-top: 0.8rem;
      font-size: 0.4rem;
    }
    @include respond(midMobile) {
      margin-top: 0.8rem;
      font-size: 0.4rem;
    }
    @include respond(tablet) {
      margin-top: 1.3rem;
      font-size: 0.8rem;
    }
    @include respond(laptop) {
      margin-top: 1.3rem;
      font-size: 0.8rem;
    }
  }

  .animate-flip {
    animation: flipCard 0.6s linear 1;
    -webkit-animation: flipCard 0.6s linear 1;
    -moz-animation: flipCard 0.6s linear 1;
    -ms-animation: flipCard 0.6s linear 1;
    -o-animation: flipCard 0.6s linear 1;
  }

  @keyframes flipCard {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(-180deg);
    }
  }

  @-webkit-keyframes 'flipCard' {
    from {
      -webkit-transform: rotateX(0deg);
    }
    to {
      -webkit-transform: rotateX(-180deg);
    }
  }

  @-moz-keyframes 'flipCard' {
    from {
      -moz-transform: rotateX(0deg);
    }
    to {
      -moz-transform: rotateX(-180deg);
    }
  }

  @-ms-keyframes 'flipCard' {
    from {
      -ms-transform: rotateX(0deg);
    }
    to {
      -ms-transform: rotateX(-180deg);
    }
  }
}

.footer {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  a {
    margin: 0 0.7rem;
  }

  p {
    margin-top: 0.4rem;
    color: hsl(237, 18%, 59%);
    font-size: 0.9rem;
    font-weight: 600;
  }

  p a {
    color: hsl(345, 95%, 68%);
  }
}
